<h2>Criar Usuário</h2>

<form action="">
  <label>Usuário:</label>
  <br><input #login type="text" placeholder="" value="" id="login" required>

  <br><br>

  <label for="password_input">Senha:</label>
  <br><input #password type="password" placeholder="" value="" id="password" required>

  <br><br>

  <label>Nível de acesso:</label>
  <br><select [(ngModel)]="access_level_select" name="access_level" id="access_level" required>
    <option value="undefined" hidden>Escolha uma opção</option>
    <option *ngFor="let access_level of access_levels" [ngValue]="access_level.name">
        {{access_level.name}}
    </option>
  </select>

  <br><br>

  <button type="submit" (click)="createUser(login.value, password.value, access_level_select)">Criar</button>
</form>
